<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{title}}</span>
</mat-toolbar>

<div id="main-content" class="stretch">
  <mat-sidenav-container autosize>

    <!-- Sidenav -->
    <mat-sidenav #sidenav mode="side" opened>

      <!-- Locations List -->
      <mat-action-list>
        <button mat-list-item *ngFor="let location of locations"
            (click)="setLocation(location)">
          <h1 mat-line> {{location.name}} </h1>
          <p mat-line> {{location.description}} </p>
        </button>
      </mat-action-list>

    </mat-sidenav>

    <mat-sidenav-content>

      <!-- Year -->
      <div id="year-div">{{year}}</div>

      <!-- Controls -->
      <div id="controls-div">
        <mat-card>

          <mat-card-title> Layers </mat-card-title>

          <mat-card-content>
            <mat-slide-toggle (change)="landcoverOn = $event.checked; updateOverlays()" checked>
              Land cover
            </mat-slide-toggle>
          </mat-card-content>

          <mat-card-content>
            <mat-slide-toggle (change)="toggleAnimation($event.checked)" checked>
              Animation
            </mat-slide-toggle>
          </mat-card-content>

        </mat-card>
      </div>

      <!-- Map legend -->
      <div id="legend-div">
        <mat-card style="padding: 1ex">
          <mat-card-content>
            <mat-list>
              <mat-list-item style="height: 3ex">
                <mat-icon mat-list-icon style="color: #90caf9">layers</mat-icon>
                Water
              </mat-list-item>
              <mat-list-item style="height: 3ex">
                <mat-icon mat-list-icon style="color: #26a69a">layers</mat-icon>
                Wetland
              </mat-list-item>
              <mat-list-item style="height: 3ex">
                <mat-icon mat-list-icon style="color: #689f38">layers</mat-icon>
                Forest
              </mat-list-item>
              <mat-list-item style="height: 3ex">
                <mat-icon mat-list-icon style="color: #aed581">layers</mat-icon>
                Grassland
              </mat-list-item>
              <mat-list-item style="height: 3ex">
                <mat-icon mat-list-icon style="color: #e6ee9c">layers</mat-icon>
                Shrubland
              </mat-list-item>
              <mat-list-item style="height: 3ex">
                <mat-icon mat-list-icon style="color: #ffecb3">layers</mat-icon>
                Barren land
              </mat-list-item>
              <mat-list-item style="height: 3ex">
                <mat-icon mat-list-icon style="color: #fbc02d">layers</mat-icon>
                Farmland
              </mat-list-item>
              <mat-list-item style="height: 3ex">
                <mat-icon mat-list-icon style="color: #ffab91">layers</mat-icon>
                Tundra
              </mat-list-item>
              <mat-list-item style="height: 3ex">
                <mat-icon mat-list-icon style="color: #fafafa">layers</mat-icon>
                Snow / Ice
              </mat-list-item>
              <mat-list-item style="height: 3ex">
                <mat-icon mat-list-icon style="color: #e0e0e0">layers</mat-icon>
                Urban
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>

      <!-- Map -->
      <div id="map-div" class="stretch">
        <agm-map
            [latitude]="state.lat" [longitude]="state.lng" [zoom]="state.zoom"
            (mapReady)="onMapReady($event)" maxZoom="13"
            streetViewControl="" mapTypeControl="" mapTypeId="satellite"
            styles="[{}]  // Set Google logo to white">
        </agm-map>
      </div>

      <!-- Year Slider -->
      <div id="slider-div">
        <mat-slider [(value)]="year" [min]="startYear" [max]="endYear"
            (change)="updateOverlays()" thumbLabel>
        </mat-slider>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
