<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Project Earth Server</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
    * {font-family: Roboto}
    pre {font-family: "Roboto Mono"}
  </style>
</head>

<body>
  <h1>Project Earth Server</h1>

  <h2>Environment</h2>
  <pre>
PROJECT={{project}}
BUCKET={{bucket}}
ASSET_ID={{asset_id}}
REGION_ZOOM_LEVEL={{zoom_level}}

The world is subdivided into 2^zoom_level x 2^zoom_level regions.
{{2**zoom_level}} x {{2**zoom_level}} = {{2**(zoom_level*2)}} regions.
  </pre>

  <h2>Submit</h2>
  <form method="POST">
    start_year <input type="number" name="start_year" step="any" value="2013" />
    end_year   <input type="number" name="end_year"   step="any" value="2018" />
    <br />
    dry_run <input type="checkbox" name="dry_run" value="y" />

    <h4>Region</h4>
    x <input type="number" name="x" step="1" placeholder="0 - {{2**zoom_level-1}}" />
    y <input type="number" name="y" step="1" placeholder="0 - {{2**zoom_level-1}}"/>
    <input type="submit" value="Submit region" formaction="/submit/region" />

    <h4>Point</h4>
    lng <input id="lng" type="number" name="lng" step="any" value="-122.34520102739617" />
    lat <input id="lat" type="number" name="lat" step="any" value="37.50799988162323" />
    <input type="submit" value="Submit point" formaction="/submit/point" />
    <br />
    <button type="button" onclick="
        document.getElementById('lng').value = '120.3641085'
        document.getElementById('lat').value = '31.3286305'
        ">Suzhou</button>
    <button type="button" onclick="
        document.getElementById('lng').value = '-65.5369773'
        document.getElementById('lat').value = '-10.8179813'
        ">Rondônia</button>
    <button type="button" onclick="
        document.getElementById('lng').value = '-70.5882979'
        document.getElementById('lat').value = '41.7988246'
        ">Cape Cod</button>
    <button type="button" onclick="
        document.getElementById('lng').value = '54.9475504'
        document.getElementById('lat').value = '25.0757073'
        ">Dubai</button>

    <h4>Bounds</h4>
    west  <input type="number" name="west"  step="any" value="-125.3321" />
    south <input type="number" name="south" step="any" value="23.8991" />
    east  <input type="number" name="east"  step="any" value="-65.7421" />
    north <input type="number" name="north" step="any" value="49.4325" />
    <input type="submit" value="Submit bounds" formaction="/submit/bounds" />
    <br />

    For more region bounds, see <a href="https://openmaptiles.com/downloads/planet/">OpenMapTiles</a>

  </form>

  <h2>Tools</h2>
  <ul>

    <li>
      <form method="POST">
        x <input type="number" name="x" placeholder="0 - {{2**zoom_level-1}}" />
        y <input type="number" name="y" placeholder="0 - {{2**zoom_level-1}}"/>
        <input type="submit" value="Check progress" formaction="/check-progress" />
      </form>
    </li>

    <li>
      <form method="POST">
        <input type="submit" value="List EE tasks" formaction="/list-ee-tasks" />
      </form>
    </li>

    <li>
      <form method="POST">
        <input type="submit" value="Clear EE ImageCollection" formaction="/clear-image-collection" />
        (this will take a while, check the logs)
      </form>
    </li>

  </ul>
</body>

</html>